---
layout: default
title: About
---
<header id="pages-header" class="pages-header">
  {% include essentials/nav-option-1.html %}
</header>
<main class="padding-x-lg padding-y-lg about">
  <div class="grid-noGutter-spaceBetween">
    <div class="col-7_sm-12-middle">
      <p class="editable text-dark">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, est incidunt delectus, exercitationem tempore error in, autem sunt consectetur modi excepturi adipisci cumque animi ipsam harum amet pariatur voluptas iure architecto! Ipsum, magni nulla? Quis autem adipisci, fugiat qui deleniti repudiandae repellat laboriosam ut officiis soluta molestias reiciendis amet numquam, delectus aspernatur blanditiis voluptatem? Hic animi obcaecati maxime? Neque officia ab vitae ipsam eveniet, maiores minus quidem corrupti quo. Saepe enim consequatur aperiam sint eos dignissimos debitis ad repellat, ipsa dicta maxime nam. Delectus accusantium aliquam, eius rem inventore dolor quibusdam aut natus animi dignissimos velit nulla eum provident quis?
      </p>
      <div class="padding-y-sm flex-left">
        <a href="mailto:{{site.data.settings.general.email}}" class="contact-link">{% include social-icons.html icon="Email" %}</a>
        <a href="mailto:{{site.data.settings.general.email}}" class="contact-link">{% include social-icons.html icon="Instagram" %}</a>
        <a href="{{site.data.settings.general.linkedin_url}}" class="contact-link">{% include social-icons.html icon="LinkedIn" %}</a>  
      </div>
    </div>
    <div class="col-4_sm-12">
      <div class="profile-image">
        <img src="/assets/images/bruno-santos-fotografo.jpg" alt="" class="responsive-img">
      </div>
    </div>
  </div>
</main>
{% include essentials/footer.html %}