---
layout: default
title: Bruno Santos Fotografia
header_image: assets/images/bruno-santos-fotografo-humanitarian-IMG_0038.jpg
---
<header class="home-header" style="background-image: url({{page.header_image}});">
  {% include essentials/nav-option-1.html %}
</header>
<section id="about" class="about-section bg-light grid-noGutter-spaceAround-reverse padding-x-lg padding-y-lg">
  <div class="col-6_sm-12-middle section-image">
    <div class="padding-y-md">
      <div class="img-container">
        {% responsive_image path: assets/images/bruno-santos-fotografo.jpg alt: "A description of the image" %}
      </div>
    </div>
  </div>
  <div class="col-6_sm-12-middle section-content">
    <div class="padding-y-md">
      <h2 class="section-heading impact-heading editable">
        About
      </h2>
      <p class="editable mb-2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, natus quam velit vel ducimus non cum a blanditiis perferendis, voluptatum error, autem voluptates! Natus velit molestias voluptate tenetur nam! Commodi ipsam eos facilis mollitia illo vitae, voluptates amet ipsa neque ea, odit nobis animi, officiis voluptate omnis magni velit minus!
      </p>
      <a href="/about" class="btn-outline editable">About Bruno</a>
    </div>
  </div>
</section>
<section id="portfolios" class="portfolios padding-x-lg padding-y-sm">
  {% for portfolio in site.portfolios %}
  <div class="row-container padding-x-lg flex-{% cycle 'start', 'end'%}" style="background-image: url({{portfolio.feature_image}});">
    <a href="{{portfolio.url}}">
      <h2 class="impact-heading">{{portfolio.title}}</h2>
    </a>
  </div>
  <br>
  {% endfor %}  
</section>