.home-header {
  height: 95vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.portfolio-header {
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}