
p,
span,
a,
ul,
ol,
li,
button,
input,
textarea,
label {
  font-family: $body-font;
  font-size: $body-font-size;
}

a {
  text-decoration: none;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
}

li {
  list-style-position: inside;
}