<div id="sticky-nav-bar" class="sticky-nav-bar padding-x-lg grid-noGutter-spaceBetween">
    <div class="col-4_sm-10">
      <a href="/" class="nav-branding">
        <div class="flex-center">
          <!-- <img src="{{site.data.settings.branding.nav_logo_image}}" alt="{{site.data.settings.branding.site_title}}" class="nav-logo"> -->
          <span class="nav-title">
            {{site.data.settings.branding.site_title}}
          </span>
        </div>
      </a>
    </div>
    <div class="col-8 mobile-hide nav-container flex-end">
      <nav id="nav-menu" class="nav-menu">
        {% for menu in site.data.settings.navigation.menus %}
        {% if menu.is_dropdown == true %}
        <div class="dropdown">
          <button class="nav-link">{{menu.name}}</button>
          <ul class="dropdown-content">
            {% for submenu in menu.submenus %}
            <li>
              <a href="{{submenu.url}}">{{submenu.name}}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% else %}
        <span>
          <a href="{{menu.url}}" class="nav-link">{{menu.name}}</a>
        </span>
        {% endif %}
        {% endfor %}
        {% unless site.data.settings.general.instagram_url == nil %}
        <a href="{{site.data.settings.general.instagram_url}}" class="nav-social-link">{% include social-icons.html icon="Instagram" %}</a>
        {% endunless %}
        {% unless site.data.settings.general.facebook_url == nil %}
        <a href="{{site.data.settings.general.linkedin_url}}" class="nav-social-link">{% include social-icons.html icon="LinkedIn" %}</a>
        {% endunless %}
      </nav>
    </div>
  </div>