<section id="about" class="about-section bg-light grid-noGutter-spaceAround padding-x-lg padding-y-lg">
  <div class="col-6-middle section-content">
    <div class="padding-y-md">
      <p class="editable mb-2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, natus quam velit vel ducimus non cum a blanditiis perferendis, voluptatum error, autem voluptates! Natus velit molestias voluptate tenetur nam! Commodi ipsam eos facilis mollitia illo vitae, voluptates amet ipsa neque ea, odit nobis animi, officiis voluptate omnis magni velit minus!
      </p>
      <a href="/about" class="btn-outline editable">Read more</a>
    </div>
  </div>
  <div class="col-6-middle section-image">
    <div class="padding-y-sm padding-x-lg">
      <h2 class="section-heading impact-heading editable">
        About
      </h2>
      <div class="img-container">
        {% responsive_image path: assets/images/bruno-santos-fotografo.jpg alt: "A description of the image" %}
      </div>
    </div>
  </div>
</section>