---
layout: default
---
<header id="pages-header" class="pages-header">
  {% include essentials/nav-option-1.html %}
  <section id="portfolio-showcase" class="portfolio-showcase grid-noGutter padding-x-lg padding-y-lg">
    <div class="col-6_sm-12-middle intro">
      <h2 class="impact-heading mb-2">{{page.title}}</h2>
      <p>
        {{page.description_text}}
      </p>
    </div>
    <div class="col-6_sm-12-bottom white-border">
      <div class="image-container">
        <img src="/assets/images/bruno-santos-fotografo-humanitarian-IMG_0094.jpg" class="responsive-img" alt="">
      </div>
    </div>
  </section>
</header>
<section id="gallery" class="gallery padding-x-lg">
  <div class="grid-noGutter-spaceBetween">
    <div class="col-12 white-border">
      <img src="/assets/images/bruno-santos-fotografo-humanitarian-IMG_0968.jpg" class="responsive-img" alt="">
    </div>  
    <div class="col-4_sm-12 white-border">
      <img src="/assets/images/bruno-santos-fotografo-humanitarian-IMG_2528.jpg" class="responsive-img" alt="">
    </div>
    <div class="col-8_sm-12 white-border">
      <img src="/assets/images/bruno-santos-fotografo-humanitarian-IMG_0326.jpg" class="responsive-img" alt="">
    </div>
    <div class="col-4_sm-12 white-border">
      <img src="/assets/images/bruno-santos-fotografo-humanitarian-IMG_0656.jpg" class="responsive-img" alt="">
    </div>
    <div class="col-4_sm-12 white-border">
      <img src="/assets/images/bruno-santos-fotografo-humanitarian-IMG_2327.jpg" class="responsive-img" alt="">
    </div>
    <div class="col-4_sm-12 white-border">
      <img src="/assets/images/bruno-santos-fotografo-humanitarian-IMG_2324.jpg" class="responsive-img" alt="">
    </div>
    <div class="col-12 white-border with-quote">
      <img src="/assets/images/bruno-santos-fotografo-humanitarian-IMG_2324.jpg" class="responsive-img" alt="">
      <p class="quote">Lorem ipsum dolor sit, amet consectetur adipisicing.</p>
    </div>
  </div>
</section>
{% include essentials/footer.html %}